.createheader {
    display: flex;
    width: 100%;
}

.leftcreateheader {
    display: flex; 
    gap: 1em;
     width: 70%;
}

.headercontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headercreatetitle {
    color: #23272E;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.headercreateparagraph {
    color: var(--Placeholder-Color, #6D7175);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.rightcreateheader {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    align-items: flex-start;
    width: 30%;
}

.buttoncancel {
    background-color: #fafafa;
    display: flex;
    width: 87px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.20) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
    border: 1px solid;
    height: 2.69em;
}

.buttonsave {
    
    display: flex;
    width: 87px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #1E2640;
    color: white;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.20) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08);

}