* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
}

.headertitle {
  color: #23272e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.headerparagraph {
  color: var(--Placeholder-Color, #6d7175);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.buttonc {
  background-color: #fafafa;
  display: flex;
  width: 87px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
  border: 1px solid;
  height: 2.69em;
}

.buttons {
  display: flex;
  width: 87px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #1e2640;
  color: white;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
}

.productinfo {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  height: 2.5em;
  display: flex;
}

.label {
  color: var(--Text-Color, #202223);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.requirestar {
  color: var(--OrderStatusred, #cd201f);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.addimghead {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.addimgmsg {
  color: var(--text-subdued, var(--Placeholder-Color, #6d7175));
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.buttonadd {
  display: flex;
  width: 172px;
  padding: 8px 16px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--textfield-color, #aeb4b9);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

.checkboxlabel {
  color: var(--text-default, var(--Text-Color, #202223));
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.storeavail {
  color: var(--text-subdued, var(--Placeholder-Color, #6d7175));
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 45%;
  padding-left: 1.7em;
}
