.buttonc {
    //     width: 6em;
    // flex-shrink: 0;
    // color: var(--Text-Color, #202223);
    // text-align: center;
    // font-feature-settings: 'clig' off, 'liga' off;
    // font-family: Inter;
    // font-size: 14px;
    // font-style: normal;
    // font-weight: 400;
    // line-height: 20px; /* 142.857% */
    // display: flex;
    //     // width: 170px;
    //     // padding: 8px 16px;
    //     justify-content: center;
    //     align-items: center;
    //     gap: 10px;
    //     border-radius: 4px;
    //     border: none;
    background-color: #fafafa;
    display: flex;
    width: 87px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    // background: #1E2640;
    // color:white;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.20) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
    // border: none;
    // border-color: #fafafa;
    border: 1px solid;
    height: 2.69em;
}

.buttons {
    // background-color: #1e2640;
    // color: white;
    display: flex;
    width: 87px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #1E2640;
    color: white;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.20) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08);

}

.navigationvalue {
    color: var(--Placeholder-Color, #6D7175);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.titlenav {
    color: #000;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.navigation:hover,
.selected {
    background-color: #f0f2f5;
    // height: 100%;
}

// .selected{
//     background-color: #f0f2f5;
// }

.navigation {
    height: 3em;
    // width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
}

.navdivvalue {
    height: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.productinfo {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    // font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    height: 2.5em;
    display: flex;
    // justify-content: flex-start;
    // align-items: flex-start;
}

.label {
    color: var(--Text-Color, #202223);
    font-feature-settings: 'clig' off, 'liga' off;
    // font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.requirestar {
    color: var(--OrderStatusred, #CD201F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.checkboxlabel {
    color: var(--text-default, var(--Text-Color, #202223));
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.storeavail {
    color: var(--text-subdued, var(--Placeholder-Color, #6D7175));
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 45%;
    padding-left: 1.7em;
    /* 142.857% */
}

.addimghead {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    /* 137.5% */
}

.addimgmsg {
    color: var(--text-subdued, var(--Placeholder-Color, #6D7175));
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.butaddimg {
    display: flex;
    width: 104px;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--textfield-color, #AEB4B9);

    /* shadow-button */
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
    background-color: #fafafa;
}


.headertitle {
    color: #23272E;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.headerparagraph {
    color: var(--Placeholder-Color, #6D7175);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.createpage {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.createcontent {
    display: flex;
    gap: 1em;
    width: 100%;
}

.leftcreatecontent {
    width: 65%;
}

.createimagecard {
    display: flex;
    gap: 2em;
    flex-direction: column;
}

.imgcardhead {
    display: flex;
    width: 100%;
}

.leftimgcard {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.rightimgcard {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: flex-start;
}

.prodleftimgcard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.addprodbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
}

.addpcbutton {
    display: flex;
    width: 172px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
border: 1px solid var(--textfield-color, #AEB4B9);

/* shadow-button */
box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}